html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
	font-size: 17px;
	background: khaki;
}
.container{
	width: 1200px;
	margin: 0 auto;
	background: yellow;
	border:1px solid red;
	position: relative;
	/*overflow: hidden;*/
}
.tcell{
	display:table-cell;
}
.border{
	outline:1px solid green;
}
.block_800{
	width: 800px;
}
.block_400{
	width: 400px;
}
.block_200{
	width: 200px;
}
.clear{
	clear:both;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.float{
	float:left;
}
.inline{
	font-size: 0;
}
.line{
	vertical-align: top;
	display:inline-block;
	font-size: 17px;
}
.flex{
	display: flex;
}
.menu ul{
	text-align: right;
	font-size: 0;
	z-index: 5;
}
.menu li{
	background: orange;
	display: inline-block;	
	margin-right: 20px;
	cursor:pointer;
	position: relative;
	width: 200px;
}
.menu li:last-child{
	margin: 0;
	/*text-align: left;
	padding: 20px 65px 20px 20px;*/
	
}
.menu li a{
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	padding: 20px 20px 20px 20px;
	position: relative;
	
}
.first_lvl>li a:before{
    content: "";
    background: url(../images/css_sprites.png);
    background-position: -52px -104px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.first_lvl>li+li>a:before{
    background-position: -104px -104px;
}

.first_lvl>li+li+li>a:before{
    background-position: -52px -52px; 	
}
.first_lvl>li+li+li:hover>a:before{
    background-position: -104px 0;
}
.second_lvl{
	display: none;
	font-size: 15px;
	position: absolute;
	top: 100%;
	left: 0;
}
.second_lvl li{
	margin: 0;
}
.second_lvl>li+li+li+li>a:before{
	background-position:0 -104px;
}
.second_lvl>li+li+li+li:hover>a:before{
    background-position: -104px 104px;
}
.third_lvl{
	display: none;
	position: absolute;
	text-align: center;
	top: 0;
	right:100%;
}
.first_lvl li+li+li:hover .second_lvl{
	display: block;
}
.second_lvl li:hover .third_lvl{
	display: block;
}




.socialList>li{
	display: inline-block;
}
.socialList>li>a{
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/css_sprites.png');
	background-position: 0 0;
}
.socialList>li+li>a{
	background-position: -52px 0;
}
.socialList>li+li+li>a{
	background-position:0 -52px;
}
/*.socialList>li>a:before{
	content: "";
	background: url('../images/css_sprites.png');
	background-position: -104px -104px;
	width: 50px;
	height: 50px;
}*/
.socialList2>li{
	display:inline-block;
}
.socialList>li>a{
	display: block;
	width: 50px;
	height: 50px;
	
}








.wrapsocial{
	position: relative;	
	
}
.social2{
	position: fixed;
	background: url('../images/css_sprites.png');
	background-position: -104px 0;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 50px;
}
.social2>li{
	bottom: 0;
	left: 50%;
	background: aqua;
}
.social2>li>a{
	display: block;
	background: url('../images/css_sprites.png');
	background-position: -104px 0;
}
.social2>li>{

}

